/* This area takes care of my global styles and layout */
* {
  font-family: Georgia, Times, "Times New Roman", serif;
}
body {
  display: grid;
  grid-template-rows: 1fr 5fr 2fr 5fr 2fr;
}

/* Navbar Area */
.container-fluid {
  background-color: #7092a1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#zip {
  background-color: #c9dbe3;
}

.d-flex {
  justify-content: center;
  align-items: center;
}

/* Location */
#location {
  width: 450px;
  padding: 10px;
  font-size: 16pt;
  background-color: #7092a1;
  border-radius: 50px;
  border-color: #7092a1;
  border-width: 2px;
  display: flex;
  justify-content: center;
  text-align: center;
}
#location-img-bckgrd {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background-color: #c9dbe3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#locationInfo {
  width: 400px;
  padding: 15px;
  border: 2px dotted black;
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
}

/* Current Info */
#current-temp,
#feels-like,
#short-description {
  justify-content: center;
  align-items: center;
}

/* Precipitation Container */
#precipitation {
  background-color: #7092a1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Precipitation Buttons */
#humid,
#rain,
#wind {
  margin: 20px;
  height: 40px;
  width: 90px;
  background-color: #c9dbe3;
  font-size: 10pt;
  border: 1px solid black;
  border-radius: 50px;
}

/* Bottom Container */
#btm-precip-info {
  background-color: #c9dbe3;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Bottom Info/Breakdown */
#headline {
  padding: 20px;
  width: 300px;
  background-color: #7092a1;
  border-radius: 50px;
  text-align: center;
}

/* Humidity,Rain,Wind Breakdown  */
#weather-breakdowns {
  width: 150px;
  padding: 15px;
  border: 2px dotted black;
  border-radius: 50px;
}

/* Circle Buttons */
/* Container Styling */
#precip-btns {
  background-color: #c9dbe3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Circle Styling */
.circle {
  width: 15px;
  height: 15px;
  margin: 5px;
  background-color: #7092a1;
  border: black 1px solid;
  border-radius: 50%;
  display: inline-block;
}
